<!DOCTYPE html>
<html lang="zxx">

<%- include("parts/head") %>

<body>



	<!-- modals -->
	<!-- log in -->
	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title text-center">Log In</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form action="#" method="post">
						<div class="form-group">
							<label class="col-form-label">Username</label>
							<input type="text" class="form-control" placeholder=" " name="Name" required="">
						</div>
						<div class="form-group">
							<label class="col-form-label">Password</label>
							<input type="password" class="form-control" placeholder=" " name="Password" required="">
						</div>
						<div class="right-w3l">
							<input type="submit" class="form-control" value="Log in">
						</div>
						<div class="sub-w3l">
							<div class="custom-control custom-checkbox mr-sm-2">
								<input type="checkbox" class="custom-control-input" id="customControlAutosizing">
								<label class="custom-control-label" for="customControlAutosizing">Remember me?</label>
							</div>
						</div>
						<p class="text-center dont-do mt-3">Don't have an account?
							<a href="#" data-toggle="modal" data-target="#exampleModal2">
								Register Now</a>
						</p>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- register -->
	<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Register</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form action="#" method="post">
						<div class="form-group">
							<label class="col-form-label">Your Name</label>
							<input type="text" class="form-control" placeholder=" " name="Name" required="">
						</div>
						<div class="form-group">
							<label class="col-form-label">Email</label>
							<input type="email" class="form-control" placeholder=" " name="Email" required="">
						</div>
						<div class="form-group">
							<label class="col-form-label">Password</label>
							<input type="password" class="form-control" placeholder=" " name="Password" id="password1"
								required="">
						</div>
						<div class="form-group">
							<label class="col-form-label">Confirm Password</label>
							<input type="password" class="form-control" placeholder=" " name="Confirm Password"
								id="password2" required="">
						</div>
						<div class="right-w3l">
							<input type="submit" class="form-control" value="Register">
						</div>
						<div class="sub-w3l">
							<div class="custom-control custom-checkbox mr-sm-2">
								<input type="checkbox" class="custom-control-input" id="customControlAutosizing2">
								<label class="custom-control-label" for="customControlAutosizing2">I Accept to the Terms
									& Conditions</label>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- //modal -->

	<%- include("parts/top-header") %>
	<!-- //header-bottom -->

	<!-- navigation -->
	<%- include("parts/navbar") %>
	<!-- //navigation -->

	<!-- banner-2 -->
	<div class="page-head_agile_info_w3l">

	</div>
	<!-- //banner-2 -->
	<!-- page -->
	<div class="services-breadcrumb">
		<div class="agile_inner_breadcrumb">
			<div class="container">
				<ul class="w3_short">
					<li>
						<a href="index.html">Home</a>
						<i>|</i>
					</li>
					<li> Add A new Product </li>
				</ul>
			</div>
		</div>
	</div>
	<!-- //page -->

	<!-- Single Page -->
	<div class="ads-grid add-product py-sm-5 py-4">
		<div class="head">
			<h3 class="tittle-w3l text-center mb-lg-5 mb-sm-4 mb-3"> <span>N</span>ew <span>P</span>roduct </h3>
		</div>

		<div class="body">
			<div class="container">
				<form class="form" method="POST" action="/product/add" enctype="multipart/form-data" >

					<div class="item">
						<div class="row">
							<label class="col-md-3 text-capitalize"> product name : </label>
							<div class="col-md-9">
								<input name="productName" placeholder="enter product name" type="text" class="form-control" />
							</div>
						</div>
					</div>

					<div class="item">
						
						<div class="row">
							<label class="col-md-3 text-capitalize"> category : </label>
							<div class="col-md-9 parent-input">
								<select class="form-control" name="category">
									<option selected> choose category </option>
									<option value="headphones">Headphones</option>
									<option value="computers">Computers</option>
									<option value="appliances">Appliances</option>
									<option value="household appliance">household appliance</option>
									<option value="mobiles">Mobiles</option>
									<option value="tv, screen">Tv, Screen</option>
									<option value="iPad, tablets">iPad &amp; Tablets</option>
									<option value="cameras, camcorders">Cameras &amp; Camcorders</option>
									<option value="home audio, theater">Home Audio &amp; Theater</option>
								</select>
							</div>
						</div>

					</div>

					<div class="item details">
						
						<div class="row">
							<label class="col-md-3 text-capitalize"> description : </label>
							<div class="col-md-9 parent-input">
								<input placeholder="attribute : description" name="description" type="text" class="form-control" />

								<button type="button" class="btn btn-primary mt-2" > new describe </button>
							</div>
						</div>

					</div>

					<div class="item mt-2">
						<div class="row">
							<label class="col-md-3 text-capitalize"> Upload images : </label>
							<div class="col-md-9 parent-input">
								<input name="images" type="file" multiple accept="image/*" class="form-control" placeholder="select multi images"/>
							</div>
						</div>
					</div>

					<div class="item">
						<div class="row">
							<label class="col-md-3 text-capitalize"> price : </label>
							<div class="col-md-9">
								<input name="price" placeholder="enter price" type="number" class="form-control" />
							</div>
						</div>
					</div>

					<div class="item">
						<div class="row">
							<label class="col-md-3 text-capitalize"> amount : </label>
							<div class="col-md-9">
								<input name="amount" placeholder="enter amount" type="text" class="form-control" />
							</div>
						</div>
					</div>

					<div class="item">
						<div class="row">
							<label class="col-md-3 text-capitalize"> discount : </label>
							<div class="col-md-9">
								<input name="discount" placeholder="enter discount" type="text" class="form-control" />
							</div>
						</div>
					</div>

					<div class="item">
						<div class="row">
							<label class="col-md-3 text-capitalize"> type : </label>
							<div class="col-md-9">
								<input name="type" placeholder="enter type" type="text" class="form-control" />
							</div>
						</div>
					</div>

					<div class="item">
						<div class="row">
							<label class="col-md-3 text-capitalize"> brand : </label>
							<div class="col-md-9">
								<input name="brand" placeholder="enter brand" type="text" class="form-control" />
							</div>
						</div>
					</div>

					<div class="item">
						<div class="row">
							<label class="col-md-3 text-capitalize"> warranty : </label>
							<div class="col-md-9">
								<input name="warranty" placeholder="enter warranty" type="text" class="form-control" />
							</div>
						</div>
					</div>

					<div class="item details">
						
						<div class="row">
							<label class="col-md-3 text-capitalize"> about product : </label>
							<div class="col-md-9 parent-about">
								<input placeholder="enter information detials" name="about" type="text" class="form-control" />

								<button type="button" class="btn btn-primary mt-2" > new describe </button>
							</div>
						</div>

					</div>

					<button class="btn btn-primary mr-auto ml-auto sendBtn" type="submit"> send </button>
				</form>
			</div>
		</div>
	</div>
	<!-- //Single Page -->

	<!-- middle section -->
	<div class="join-w3l1 py-sm-5 py-4">
		<div class="container py-xl-4 py-lg-2">
			<div class="row">
				<div class="col-lg-6">
					<div class="join-agile text-left p-4">
						<div class="row">
							<div class="col-sm-7 offer-name">
								<h6>Smooth, Rich & Loud Audio</h6>
								<h4 class="mt-2 mb-3">Branded Headphones</h4>
								<p>Sale up to 25% off all in store</p>
							</div>
							<div class="col-sm-5 offerimg-w3l">
								<img src="/images/off1.png" alt="" class="img-fluid">
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-6 mt-lg-0 mt-5">
					<div class="join-agile text-left p-4">
						<div class="row ">
							<div class="col-sm-7 offer-name">
								<h6>A Bigger Phone</h6>
								<h4 class="mt-2 mb-3">Smart Phones 5</h4>
								<p>Free shipping order over $100</p>
							</div>
							<div class="col-sm-5 offerimg-w3l">
								<img src="/images/off2.png" alt="" class="img-fluid">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- middle section -->

	<!-- footer  & copyright-->
	<%- include("parts/footer") %>
	<!-- //footer & copyright -->

	<!-- js-files -->
	<!-- jquery -->
	<script src="/js/jquery-2.2.3.min.js"></script>
	<!-- //jquery -->

	<!-- nav smooth scroll -->
	<script>
		$(document).ready(function () {
			$(".dropdown").hover(
				function () {
					$('.dropdown-menu', this).stop(true, true).slideDown("fast");
					$(this).toggleClass('open');
				},
				function () {
					$('.dropdown-menu', this).stop(true, true).slideUp("fast");
					$(this).toggleClass('open');
				}
			);
		});
	</script>
	<!-- //nav smooth scroll -->

	<!-- popup modal (for location)-->
	<script src="/js/jquery.magnific-popup.js"></script>
	<script>
		$(document).ready(function () {
			$('.popup-with-zoom-anim').magnificPopup({
				type: 'inline',
				fixedContentPos: false,
				fixedBgPos: true,
				overflowY: 'auto',
				closeBtnInside: true,
				preloader: false,
				midClick: true,
				removalDelay: 300,
				mainClass: 'my-mfp-zoom-in'
			});

		});
	</script>
	<!-- //popup modal (for location)-->

	<!-- cart-js -->
	<script src="/js/minicart.js"></script>
	<script>
		paypals.minicarts
			.render(); //use only unique class names other than paypals.minicarts.Also Replace same class name in css and minicart.min.js

		paypals.minicarts.cart.on('checkout', function (evt) {
			var items = this.items(),
				len = items.length,
				total = 0,
				i;

			// Count the number of each item in the cart
			for (i = 0; i < len; i++) {
				total += items[i].get('quantity');
			}

			if (total < 3) {
				alert('The minimum order quantity is 3. Please add more to your shopping cart before checking out');
				evt.preventDefault();
			}
		});
	</script>
	<!-- //cart-js -->

	<!-- password-script -->
	<script>
		window.onload = function () {
			document.getElementById("password1").onchange = validatePassword;
			document.getElementById("password2").onchange = validatePassword;
		}

		function validatePassword() {
			var pass2 = document.getElementById("password2").value;
			var pass1 = document.getElementById("password1").value;
			if (pass1 != pass2)
				document.getElementById("password2").setCustomValidity("Passwords Don't Match");
			else
				document.getElementById("password2").setCustomValidity('');
			//empty string means no validation error
		}
	</script>
	<!-- //password-script -->

	<!-- imagezoom -->
	<script src="/js/imagezoom.js"></script>
	<!-- //imagezoom -->

	<!-- flexslider -->
	<link rel="stylesheet" href="/css/flexslider.css" type="text/css" media="screen" />

	<script src="/js/jquery.flexslider.js"></script>
	<script>
		// Can also be used with $(document).ready()
		$(window).load(function () {
			$('.flexslider').flexslider({
				animation: "slide",
				controlNav: "thumbnails"
			});
		});
	</script>
	<!-- //FlexSlider-->

	<!-- smoothscroll -->
	<script src="/js/SmoothScroll.min.js"></script>
	<!-- //smoothscroll -->

	<!-- start-smooth-scrolling -->
	<script src="/js/move-top.js"></script>
	<script src="/js/easing.js"></script>
	<script>
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();

				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 1000);
			});
		});
	</script>
	<!-- //end-smooth-scrolling -->

	<!-- smooth-scrolling-of-move-up -->
	<script>
		$(document).ready(function () {
			/*
			var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
			};
			*/
			$().UItoTop({
				easingType: 'easeOutQuart'
			});

		});
	</script>
	<!-- //smooth-scrolling-of-move-up -->

	<!-- for bootstrap working -->
	<script src="/js/bootstrap.js"></script>
	<!-- //for bootstrap working -->
	<!-- //js-files -->
	<script src="/js/customs.js"></script>

</body>

</html>