<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="zxx">
  <%- include("parts/head") %>

  <body>
    <!-- top-header -->
    <%- include("parts/top-header") %>

    <!-- //header-bottom -->
    <!-- navigation -->
    <%- include("parts/navbar") %>
    <!-- //navigation -->
    <!-- banner-2 -->
    <div class="page-head_agile_info_w3l"></div>
    <!-- //banner-2 -->
    <!-- page -->
    <div class="services-breadcrumb">
      <div class="agile_inner_breadcrumb">
        <div class="container">
          <ul class="w3_short">
            <li>
              <a href="index.html">Home</a>
              <i>|</i>
            </li>
            <li>Checkout</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- //page -->
    <!-- checkout page -->
    <div class="privacy py-sm-5 py-4">
      <div class="container py-xl-4 py-lg-2">
        <!-- tittle heading -->
        <h3 class="tittle-w3l text-center mb-lg-5 mb-sm-4 mb-3">
          <span>C</span>heckout
        </h3>
        <!-- //tittle heading -->
        

        <div class="checkout-right">
          <h4 class="mb-sm-4 mb-3">
            Your shopping cart contains:
            <span class="product-count text-capitalize">3 Products</span>
          </h4>
          <div class="table-responsive">
            <table class="timetable_sub">
              <thead>
                <tr>
                  <th>SL No.</th>
                  <th>Product</th>
                  <th>Quality</th>
                  <th>Product Name</th>
                  <th>Price</th>
                  <th>Remove</th>
                </tr>
              </thead>
              <tbody class="render-products"></tbody>
            </table>
          </div>
        </div>
        <div class="checkout-left">
          <div class="address_form_agile mt-sm-5 mt-4">
            <h4 class="mb-sm-4 mb-3">Add a new Details</h4>
            <form class="creditly-card-form agileinfo_form">
              <div class="creditly-wrapper wthree, w3_agileits_wrapper">
                <div class="information-wrapper">
                  <div class="first-row">
                    <div class="controls form-group">
                      <input
                        class="billing-address-name form-control"
                        type="text"
                        class="street"
                        name="street"
                        placeholder="your street"
                        required=""
                      />
                    </div>
                    <div class="w3_agileits_card_number_grids">
                      <div class="w3_agileits_card_number_grid_left form-group">
                        <div class="controls">
                          <input
                            type="text"
                            class="form-control"
                            placeholder="Mobile Number"
                            name="number"
                            class="phoneNo"
                            required=""
                          />
                        </div>
                      </div>
                      <div
                        class="w3_agileits_card_number_grid_right form-group"
                      >
                        <div class="controls">
                          <input
                            type="text"
                            class="form-control"
                            placeholder="Landmark"
                            name="landmark"
                            class="landmark"
                            required=""
                          />
                        </div>
                      </div>
                    </div>
                    <div class="controls form-group">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Town/City"
                        class="city"
                        name="city"
                        required
                      />
                    </div>
                    <div class="controls form-group">
                      <select
                        name="addressType"
                        class="addressType"
                        class="option-w3ls"
                      >
                        <option selected>Select Address type</option>
                        <option value="office">Office</option>
                        <option value="home">Home</option>
                        <option value="commercial">Commercial</option>
                      </select>
                    </div>
                  </div>
                  <button type="button" class="submit btn">
                    Delivery to this Address
                  </button>
                </div>
              </div>
            </form>
            <div class="checkout-right-basket">
              <a href="/api/braintree/get-token"
                >Make a Payment
                <span class="far fa-hand-point-right"></span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- //checkout page -->

    <!-- middle section -->
    <div class="join-w3l1 py-sm-5 py-4">
      <div class="container py-xl-4 py-lg-2">
        <div class="row">
          <div class="col-lg-6">
            <div class="join-agile text-left p-4">
              <div class="row">
                <div class="col-sm-7 offer-name">
                  <h6>Smooth, Rich & Loud Audio</h6>
                  <h4 class="mt-2 mb-3">Branded Headphones</h4>
                  <p>Sale up to 25% off all in store</p>
                </div>
                <div class="col-sm-5 offerimg-w3l">
                  <img src="/images/off1.png" alt="" class="img-fluid" />
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 mt-lg-0 mt-5">
            <div class="join-agile text-left p-4">
              <div class="row">
                <div class="col-sm-7 offer-name">
                  <h6>A Bigger Phone</h6>
                  <h4 class="mt-2 mb-3">Smart Phones 5</h4>
                  <p>Free shipping order over $100</p>
                </div>
                <div class="col-sm-5 offerimg-w3l">
                  <img src="/images/off2.png" alt="" class="img-fluid" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- middle section -->

    <!-- footer -->
    <%- include("parts/footer") %>
    <!-- //copyright -->

    <!-- js-files -->
    <!-- jquery -->
    <script src="/js/jquery-2.2.3.min.js"></script>
    <!-- //jquery -->

    <!-- nav smooth scroll -->
    <script>
      $(document).ready(function () {
        $(".dropdown").hover(
          function () {
            $(".dropdown-menu", this).stop(true, true).slideDown("fast");
            $(this).toggleClass("open");
          },
          function () {
            $(".dropdown-menu", this).stop(true, true).slideUp("fast");
            $(this).toggleClass("open");
          }
        );
      });
    </script>
    <!-- //nav smooth scroll -->

    <!-- popup modal (for location)-->
    <script src="/js/jquery.magnific-popup.js"></script>
    <script>
      $(document).ready(function () {
        $(".popup-with-zoom-anim").magnificPopup({
          type: "inline",
          fixedContentPos: false,
          fixedBgPos: true,
          overflowY: "auto",
          closeBtnInside: true,
          preloader: false,
          midClick: true,
          removalDelay: 300,
          mainClass: "my-mfp-zoom-in",
        });
      });
    </script>
    <!-- //popup modal (for location)-->

    <!-- cart-js -->
    <script src="/js/minicart.js"></script>
    <script>
      paypals.minicarts.render(); //use only unique class names other than paypals.minicarts.Also Replace same class name in css and minicart.min.js

      const products = paypals.minicarts.cart.items();
      const container = $(".render-products");
      const initialValue = 0;
      const sumWithInitial = products.reduce(
        (previousValue, currentValue) => {
			console.log(previousValue._amount - previousValue._discount)
			console.log(currentValue._amount,  currentValue._discount)
			return (previousValue._amount - previousValue._discount) 
		+ (currentValue._amount - currentValue._discount)}
      );
      console.log(sumWithInitial, "price");

      const productCount = products.length;
      $(".product-count").html(`${products.length} products`);

      if (products.length > 0) {
        container.html("");
        for (let [index, el] of products.entries()) {
          container.append(`
				<tr class="rem2">
								<td class="invert"> ${index + 1} </td>
								<td class="invert-image">
									<a href='/product/${el._data.id}'>
										<img src="/images/${el._data.department}/${
            el._data.image
          }" alt=" " class="img-responsive">
									</a>
								</td>
								<td class="invert">
									<div class="quantity">
										<div class="quantity-select">
											<span> ${el._data.quantity} </span> 
										</div>
									</div>
								</td>
								<td class="invert"> ${el._data.item_name.substring(0, 30) + " ..."} </td>
								<td class="invert"> ${Math.floor(
                  (el._data.amount - el._data.discount_amount) *
                    el._data.quantity
                )} </td>
								<td class="invert">
									<div class="rem">
										<div data-index='${index}' class="close1"> </div>
									</div>
								</td>
							</tr>

					
				`);
        }
      } else {
        $(".table-responsive").append(
          "<div class='alert alert-danger mt-3 text-center'> there are not products yet </div>"
        );
      }

      $(".value-plus").on("click", function () {
        var divUpd = $(this).parent().find(".value"),
          newVal = parseInt(divUpd.text(), 10) + 1;
        divUpd.text(newVal);
      });

      $(".value-minus").on("click", function () {
        var divUpd = $(this).parent().find(".value"),
          newVal = parseInt(divUpd.text(), 10) - 1;
        if (newVal >= 1) divUpd.text(newVal);
      });

      paypals.minicarts.cart.on("checkout", function (evt) {
        var items = this.items(),
          len = items.length,
          total = 0,
          i;

        // Count the number of each item in the cart
        for (i = 0; i < len; i++) {
          total += items[i].get("quantity");
        }
      });
      console.log(products);
    </script>
    <!-- //cart-js -->

    <!-- password-script -->
    <script>
      window.onload = function () {
        document.getElementById("password1").onchange = validatePassword;
        document.getElementById("password2").onchange = validatePassword;
      };

      function validatePassword() {
        var pass2 = document.getElementById("password2").value;
        var pass1 = document.getElementById("password1").value;
        if (pass1 != pass2)
          document
            .getElementById("password2")
            .setCustomValidity("Passwords Don't Match");
        else document.getElementById("password2").setCustomValidity("");
        //empty string means no validation error
      }
    </script>
    <!-- //password-script -->

    <script src="/axios/dist/axios.min.js"></script>
    <!-- quantity -->
    <script></script>
    <!--quantity-->
    <script>
      $(document).ready(function (c) {
        $(".close1").on("click", function (c) {
          $(this)
            .parents(".rem2")
            .fadeOut("slow", function (c) {
              $(".rem1").remove();
              paypals.minicarts.cart.remove($(this).data("index"));
              $(".product-count").html(`${products.length} products`);
            });
        });
      });
    </script>
    <!-- //quantity -->

    <!-- smoothscroll -->
    <script src="/js/SmoothScroll.min.js"></script>
    <!-- //smoothscroll -->

    <!-- start-smooth-scrolling -->
    <script src="/js/move-top.js"></script>
    <script src="/js/easing.js"></script>
    <script>
      jQuery(document).ready(function ($) {
        $(".scroll").click(function (event) {
          event.preventDefault();

          $("html,body").animate(
            {
              scrollTop: $(this.hash).offset().top,
            },
            1000
          );
        });
      });
    </script>
    <!-- //end-smooth-scrolling -->

    <!-- smooth-scrolling-of-move-up -->
    <script>
      $(document).ready(function () {
        /*
			var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
			};
			*/
        $().UItoTop({
          easingType: "easeOutQuart",
        });
      });
    </script>
    <!-- //smooth-scrolling-of-move-up -->

    <!-- for bootstrap working -->
    <script src="/js/bootstrap.js"></script>
    <!-- //for bootstrap working -->
    <!-- //js-files -->
    <script src="/js/customs.js"></script>
  </body>
</html>
