<title>
  Electro Store Ecommerce Category Bootstrap Responsive Web Template | Home ::
  w3layouts
</title>
<!-- Meta tag Keywords -->
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta charset="UTF-8" />
<meta
  name="keywords"
  content="Electro Store Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design"
/>
<script>
  addEventListener(
    "load",
    function () {
      setTimeout(hideURLbar, 0);
    },
    false
  );

  function hideURLbar() {
    window.scrollTo(0, 1);
  }
</script>
<!-- //Meta tag Keywords -->

<!-- start animate css -->
<link rel="stylesheet" href="/css/animate.css" />
<!-- Custom-Files -->
<link href="/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<!-- Bootstrap css -->
<link href="/css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- Main css -->
<link rel="stylesheet" href="/css/fontawesome-all.css" />
<!-- Font-Awesome-Icons-CSS -->
<link href="/css/popuo-box.css" rel="stylesheet" type="text/css" media="all" />
<!-- pop-up-box -->
<link href="/css/menu.css" rel="stylesheet" type="text/css" media="all" />
<!-- menu style -->
<!-- //Custom-Files -->
