<!-- navigation -->
<div class="navbar-inner">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="agileits-navi_search">
                <form action="#" method="post">
                    <select id="agileinfo-nav_search" name="agileinfo_search" class="border" required="">
							<option value="">All Categories</option>
							<option value="Televisions">Televisions</option>
							<option value="Headphones">Headphones</option>
							<option value="Computers">Computers</option>
							<option value="Appliances">Appliances</option>
							<option value="Mobiles">Mobiles</option>
							<option value="Fruits &amp; Vegetables">Tv &amp; Video</option>
							<option value="iPad & Tablets">iPad & Tablets</option>
							<option value="Cameras & Camcorders">Cameras & Camcorders</option>
							<option value="Home Audio & Theater">Home Audio & Theater</option>
						</select>
                </form>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto text-center mr-xl-5">
                    <li class="nav-item active mr-lg-2 mb-lg-0 mb-2">
                        <a class="nav-link" href="/">Home
								<span class="sr-only">(current)</span>
							</a>
                    </li>
                    <li class="nav-item dropdown mr-lg-2 mb-lg-0 mb-2">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Electronics
							</a>
                        <div class="dropdown-menu">
                            <div class="agile_inner_drop_nav_info p-4">
                                <h5 class="mb-3">Mobiles, Computers</h5>
                                <div class="row">
                                    <div class="col-sm-6 multi-gd-img">
                                        <ul class="multi-column-dropdown">
                                            <li>
                                                <form method="GET" action="/product/type">
                                                    <input type="hidden" name="category" value="mobiles" />
                                                    <input type="hidden" name="type" value="mobile" />
                                                    <input type="submit" value="All Mobile Phones" />
                                                </form>
                                            </li>
                                            <li>
                                                <form method="GET" action="/product/type">
                                                    <input type="hidden" name="category" value="mobiles" />
                                                    <input type="hidden" name="type" value="accessories" />
                                                    <input type="submit" value="All Mobile Accessories" />
                                                </form>
                                            </li>
                                            <li>
                                                <form method="GET" action="/product/type">
                                                    <input type="hidden" name="category" value="mobiles" />
                                                    <input type="hidden" name="type" value="covers" />
                                                    <input type="submit" value="Cases & Covers" />
                                                </form>
                                            </li>
                                            <li>
                                                <form method="GET" action="/product/type">
                                                    <input type="hidden" name="category" value="mobiles" />
                                                    <input type="hidden" name="type" value="Protectors" />
                                                    <input type="submit" value="Screen Protectors" />
                                                </form>
                                            </li>
                                            <li>
                                                <form method="GET" action="/product/type">
                                                    <input type="hidden" name="category" value="mobiles" />
                                                    <input type="hidden" name="type" value="power banks" />
                                                    <input type="submit" value="Power Banks" />
                                                </form>
                                            </li>
                                            <li>
                                                <form method="GET" action="/product/type">
                                                    <input type="hidden" name="category" value="mobiles" />
                                                    <input type="hidden" name="type" value="tablet" />
                                                    <input type="submit" value="Tablets" />
                                                </form>
                                            </li>
                                            <li>
                                                <form method="GET" action="/product/type">
                                                    <input type="hidden" name="category" value="mobiles" />
                                                    <input type="hidden" name="type" value="tablet" />
                                                    <input type="submit" value="Wearable Devices" />
                                                </form>
                                            </li>
                                            <li>
                                                <form method="GET" action="/product/type">
                                                    <input type="hidden" name="category" value="mobiles" />
                                                    <input type="hidden" name="type" value="Smart Home" />
                                                    <input type="submit" value="Smart Home" />
                                                </form>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-6 multi-gd-img">
                                        <ul class="multi-column-dropdown">
                                            <li>
                                                <form method="GET" action="/product/type">
                                                    <input type="hidden" name="category" value="computers" />
                                                    <input type="hidden" name="type" value="laptop" />
                                                    <input type="submit" value="Laptops" />
                                                </form>
                                            </li>
                                            <li>
                                                <form method="GET" action="/product/type">
                                                    <input type="hidden" name="category" value="mobiles" />
                                                    <input type="hidden" name="type" value="laptop" />
                                                    <input type="submit" value="Drives & Storage" />
                                                </form>
                                            </li>
                                            <li>
                                                <form method="GET" action="/product/type">
                                                    <input type="hidden" name="category" value="printers" />
                                                    <input type="hidden" name="type" value="Printers & Ink" />
                                                    <input type="submit" value="Printers & Ink" />
                                                </form>
                                            </li>
                                            <li>
                                                <form method="GET" action="/product/type">
                                                    <input type="hidden" name="category" value="Networking" />
                                                    <input type="hidden" name="type" value="Networking Devices" />
                                                    <input type="submit" value="Networking Devices" />
                                                </form>
                                            </li>
                                            <li>
                                                <form method="GET" action="/product/type">
                                                    <input type="hidden" name="category" value="Computers" />
                                                    <input type="hidden" name="type" value="Accessories" />
                                                    <input type="submit" value="Computer Accessories" />
                                                </form>
                                            </li>
                                            <li>
                                                <form method="GET" action="/product/type">
                                                    <input type="hidden" name="category" value="printers" />
                                                    <input type="hidden" name="type" value="Networking Devices" />
                                                    <input type="submit" value="Networking Devices" />
                                                </form>
                                            </li>
                                            <li>
                                                <form method="GET" action="/product/type">
                                                    <input type="hidden" name="category" value="printers" />
                                                    <input type="hidden" name="type" value="Software" />
                                                    <input type="submit" value="Software" />
                                                </form>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item dropdown mr-lg-2 mb-lg-0 mb-2">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Appliances
							</a>
                        <div class="dropdown-menu">
                            <div class="agile_inner_drop_nav_info p-4">
                                <h5 class="mb-3">TV, Appliances, Electronics</h5>
                                <div class="row">
                                    <div class="col-sm-6 multi-gd-img">
                                        <ul class="multi-column-dropdown">
                                            <li>
                                                <form method="GET" action="/product/type">
                                                    <input type="hidden" name="category" value="tv, screen" />
                                                    <input type="hidden" name="type" value="tv" />
                                                    <input type="submit" value="Networking Devices" />
                                                </form>
                                            </li>
                                            <li>
                                                <form method="GET" action="/product/type">
                                                    <input type="hidden" name="category" value="tv, screen" />
                                                    <input type="hidden" name="type" value="tv" />
                                                    <input type="submit" value="Networking Devices" />
                                                </form>
                                                <a href="product2.html">Headphones</a>
                                            </li>
                                            <li>
                                                <a href="product2.html">Speakers</a>
                                            </li>
                                            <li>
                                                <a href="product2.html">MP3, Media Players & Accessories</a>
                                            </li>
                                            <li>
                                                <a href="product2.html">Audio & Video Accessories</a>
                                            </li>
                                            <li>
                                                <a href="product2.html">Cameras</a>
                                            </li>
                                            <li>
                                                <a href="product2.html">DSLR Cameras</a>
                                            </li>
                                            <li>
                                                <a href="product2.html">Camera Accessories</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-6 multi-gd-img">
                                        <ul class="multi-column-dropdown">
                                            <li>
                                                <a href="product2.html">Musical Instruments</a>
                                            </li>
                                            <li>
                                                <a href="product2.html">Gaming Consoles</a>
                                            </li>
                                            <li>
                                                <a href="product2.html">All Electronics</a>
                                            </li>
                                            <li>
                                                <a href="product2.html">Air Conditioners</a>
                                            </li>
                                            <li>
                                                <a href="product2.html">Refrigerators</a>
                                            </li>
                                            <li>
                                                <a href="product2.html">Washing Machines</a>
                                            </li>
                                            <li>
                                                <a href="product2.html">Kitchen & Home Appliances</a>
                                            </li>
                                            <li>
                                                <a href="product2.html">Heating & Cooling Appliances</a>
                                            </li>
                                            <li>
                                                <a href="product2.html">All Appliances</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item mr-lg-2 mb-lg-0 mb-2">
                        <a class="nav-link" href="/about">About Us</a>
                    </li>
                    <li class="nav-item mr-lg-2 mb-lg-0 mb-2">
                        <a class="nav-link" href="product.html">New Arrivals</a>
                    </li>
                    <li class="nav-item dropdown mr-lg-2 mb-lg-0 mb-2">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Pages
							</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="product.html">Product 1</a>
                            <a class="dropdown-item" href="product2.html">Product 2</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="single.html">Single Product 1</a>
                            <a class="dropdown-item" href="single2.html">Single Product 2</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="checkout.html">Checkout Page</a>
                            <a class="dropdown-item" href="payment.html">Payment Page</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contactUs">Contact Us</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>
<!-- //navigation -->